.conteudo-margin {
    margin-top: 55px;
}

.active.nav-link {
    color: #e91e63 !important;
    border-bottom: 1px solid #e91e63 !important;
}

.nav-link{
    border-bottom: 1px solid transparent;
}

.rounded {
    height: auto;
    max-width: 100%;
}

.App {
    background: linear-gradient(0deg,#000,#24262b 47%,#000);
    background-repeat: repeat;
    color: #bbb;
    overflow-x: hidden;
}

.card {
    background: linear-gradient(0deg,#000,#24262b 47%,#000);    
}