.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 180px;
    height: 265px;
    background-color: rgba( 0, 0, 0, 0.2);
    color: whitesmoke;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 12px;
}

.popup-inner{
    position: relative;
    padding: 2px;
    width: 100%;
    margin: 0px 1px 0px 1px ;
    max-width: 180px;
    background-color: #0b0c0e;


}

.popup-inner .close-btn{
    position: absolute;
    top: 8px;
    right: 10px;
    border-radius: 50px;
    font-size: 10px;
    background-color: red;
}